@charset "UTF-8";
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial;
  background-color: skyblue;
  overscroll-behavior: none;
}

#sketchPadContainer {
  visibility: hidden;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
}

button {
  cursor: pointer;
  border: none;
  margin: 10px;
  padding: 8px 10px 8px 10px;

  border-radius: 5px;
  background-color: navy;
  color: white;
  transition: all 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
    background-color: mediumblue;

    &:disabled:hover {
      scale: 1;
    }
  }

  &:disabled {
    background-color: lightgray;
  }
}

.clear {
  background-color: darkred;
}

input {
  padding: 8px 5px 8px 5px;
  border-radius: 5px;
  color: navy;
  border: none;
}

/**********************************
/
/ Container WebViewer 
/
**********************************/
#container {
  height: 100%;
  width: 100%;
  & div {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    height: 100%;
    width: 100%;
    @media (max-width: 520px) {
      flex-direction: column;
    }
    & .rowLabel {
      text-align: center;
      font-weight: bold;
      vertical-align: baseline;
      min-width: 50px;
      @media (max-width: 520px) {
        font-size: 24px;
      }
    }
    & .sampleContainer {
      background-color: white;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      margin-bottom: 2px;
      @media (max-width: 520px) {
        max-width: 80%;
      }
      & span {
        @media (max-width: 520px) {
          font-weight: 600;
          font-size: 24px;
        }
      }
    }
    & .thump {
      display: inline-block;
      width: 100%;
      @media (max-width: 520px) {
        width: 50%;
      }
    }
  }
}
